* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 10px;
    margin-top: 50px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.amount {
    margin-right: 5px;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    line-height: 50px;
}